snippet incl "local include" b
#include "$1"$0
endsnippet

snippet doc_file "file documentation" b
/* ${1:filename}
 * @author: Shalom Yiblet
 * @email:  ${2:syiblet@andrew.cmu.edu}
 * @date:  $3
 *
 * @content:
 * $4
 */
endsnippet

snippet doc_function "function documentation" b
/* ${1:function}
 * $2
 *
 * ${3:@arg $4:} $5
 * ${6:@ret:}
 */
endsnippet
