snippet if "if clause"
if $1 then $2 else $3
endsnippet

snippet grd  "guard"
| $1 = $2
endsnippet

snippet oth "otherwise"
otherwise
endsnippet

snippet :: "function"
:: ${2:$3 =>} $4
endsnippet

snippet fd "function field"
$1 ->
endsnippet
